absl-py==2.1.0
aflow==0.0.11
aioitertools==0.11.0
alembic==1.13.1
annotated-types==0.6.0
anyio==3.7.1
array-record==0.4.1
ase==3.22.1
astunparse==1.6.3
audioread==3.0.1
bayesian-optimization==1.4.3
beautifulsoup4==4.12.3
boltons==23.1.1
bravado==11.0.3
bravado-core==6.1.0
cachetools==5.3.2
certifi==2025.6.15
charset-normalizer==3.4.2
chemparse==0.1.3
chex==0.1.87
Circos==1.3.5
clu==0.0.12
clyent==1.2.1
cmdstanpy==1.2.4
colorama==0.4.6
colorlog==6.8.2
contextlib2==21.6.0
contourpy==1.2.0
cubist==0.1.4
cycler==0.12.1
data==0.4
DataModelDict==0.9.9
deap==1.4.1
decorator==4.4.2
Deprecated==1.2.14
distlib==0.3.8
dm-tree==0.1.8
dnspython==2.4.2
dscribe==2.1.0
dsnparse==0.2.1
easydict==1.13
emmet-core==0.83.6
et_xmlfile==2.0.0
etils==1.5.2
exceptiongroup==1.1.3
fake-useragent==1.5.1
fastapi==0.104.1
figrecipes==0.0.7
filelock==3.13.3
filetype==1.2.0
flatbuffers==24.3.25
flatten-dict==0.4.2
flax==0.8.5
fonttools==4.58.4
fqdn==1.5.1
fsspec==2024.6.1
funcsigs==1.0.2
future==1.0.0
gast==0.4.0
geographiclib==2.0
geopy==2.4.1
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gplearn==0.4.2
GPy==1.13.1
graphviz==0.20.1
greenlet==3.2.3
grey==0.0.1
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
holidays==0.61
humanize==4.10.0
idna==3.10
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib_resources==6.4.0
invoke==2.2.0
isoduration==20.11.0
jarvis==0.1.9
jarvis-tools==2024.3.30
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
joblib==1.3.2
joypy==0.2.6
json2html==1.3.0
jsonpointer==2.4
jsonref==1.1.0
jupyterthemes==0.20.0
keras==3.6.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
latex==0.7.0
latexcodec==2.0.1
lazy_loader==0.3
lesscpy==0.15.1
libclang==16.0.6
librosa==0.10.2.post1
lightgbm==4.3.0
lime==0.2.0.1
llvmlite==0.41.1
maggma==0.57.4
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
megnet==1.3.2
mendeleev==0.6.0
ml-dtypes==0.3.2
ml_collections==0.1.1
mongogrant==0.3.3
mongomock==4.1.2
monotonic==1.6
monty==2024.10.21
moviepy==1.0.3
mp-api==0.41.2
mpcontribs-client==5.5.3
mplhep==0.3.51
mplhep-data==0.0.3
mpmath==1.3.0
namex==0.0.8
narwhals==1.44.0
natsort==8.4.0
nbformat==5.4.0
networkx==3.2.1
numba==0.58.1
numericalunits==1.25
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.8.1.78
openpyxl==3.1.2
openTSNE==1.0.1
opt-einsum==3.3.0
optax==0.2.3
optree==0.11.0
optuna==3.6.0
orbax-checkpoint==0.6.4
origin==1.0.6
orjson==3.9.10
packaging==25.0
palettable==3.3.3
pandas==2.2.3
paramz==0.9.6
pillow==11.0.0
Pint==0.19.2
platformdirs==4.2.0
plotly==6.2.0
ply==3.11
pooch==1.8.2
pro==0.1.2
proglog==0.1.10
promise==2.3
prophet==1.1.6
protobuf==4.25.5
pyaml==24.4.0
pyarrow==14.0.1
pybind11==2.11.1
pybtex==0.24.0
pydantic==2.9.2
pydantic-settings==2.0.3
pydantic_core==2.23.4
pydash==7.0.6
pydot==2.0.0
pydotplus==2.0.2
pyFFTW==0.14.0
pyfiglet==0.8.post1
Pygments==2.18.0
pyIsEmail==2.0.1
pykan==0.0.5
pylabs==0.0.1
pylustrator==1.3.0
pymatgen==2024.8.9
pymongo==4.6.0
pynndescent==0.5.13
pyparsing==3.2.3
pypng==0.20220715.0
pyproject==1.3.1
PyQt5==5.12.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.12.1
PyQtWebEngine-Qt5==5.15.2
pyswarm==0.6
pyswarms==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-qpid-proton==0.39.0
pytz==2025.2
PyYAML==6.0.2
pyzbar==0.1.9
pyzmq==25.1.1
qrcode==7.4.2
requests==2.32.3
requests-futures==1.0.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==13.7.1
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
SALib==1.4.7
scikit-image==0.22.0
scikit-learn==1.6.1
scikit-optimize==0.10.2
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
sentinels==1.0.0
setproctitle==1.3.3
shap==0.43.0
shapely==2.0.2
shutilwhich==1.1.0
simplejson==3.19.2
six==1.15.0
slicer==0.0.7
snapboost==0.1.2
sobol-seq==0.2.0
sonnet==0.1.6
soundfile==0.12.1
soxr==0.5.0.post1
sparse==0.14.0
spglib==2.5.0
SQLAlchemy==2.0.36
sshtunnel==0.4.0
stanio==0.5.1
starlette==0.27.0
swagger-spec-validator==3.0.3
sympy==1.12
tabulate==0.9.0
tempdir==0.7.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorstore==0.1.66
termcolor==1.1.0
tflearn==0.5.0
threadpoolctl==3.5.0
tifffile==2024.2.12
torch==2.1.1+cu121
torchaudio==2.1.1
torchvision==0.16.1
torchviz==0.0.2
tqdm==4.66.2
typing_extensions==4.12.1
tzdata==2024.2
uhi==0.4.0
umap-learn==0.5.7
uncertainties==3.1.7
UQPyL==2.0.5
uri-template==1.3.0
urllib3==2.5.0
utils==1.0.1
uvicorn==0.24.0
virtualenv==20.25.1
webcolors==1.13
Werkzeug==3.1.3
wrapt==1.12.1
xmltodict==0.13.0
zipp==3.23.0
